.contact{
    margin-top: 50px; 
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.right form
{
width: 100%;

}


form input,form textarea{
    width: 100%;
    border:0;
    outline: none;
    background:#262626;
    padding:15px ;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius:6px ;

}
.contact-right form{
    width: 100%;
}

form input,form textarea{
   width: 100%;
   border: 0;
   outline: none;
   background: #262626;
   padding: 15px;
   margin:15px 0;
   color: #fff;
   font-size: 18px;
   border-radius:6px ;

}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
@media (width<=900px){
    .contact-box{
        margin-top: 0%; 
    }
    #contct{
        flex-wrap: wrap;
    }  
}
@media(width>900px){
    #contctbox{
        margin-left: 30px;
    }
}
@media(width>=1080px) and (width<=1367px){
    .contact{
        margin-top: 75px;
    }
}