.wrapper {
   max-width: 100%;
   overflow: hidden;
  padding-top: 14px;
  background-color: #4683a3;
 }
 .imp-date{
   position: absolute;
   left: 0px;
   width: 80%;
   color: #4683a3;
   margin-top: 15px;
   margin-left:10px;
   font-weight: 700;
   margin-right: 15px;
   font-size: 16px;
   z-index: 6000;
   background-color: #fff;
 }

 #triangle {
   width:200px;
   height:50px;
   background-color:#fff;
   position:relative;
   border-bottom: 1px solid #4683a3;

  }

  .arrow-right {
   width: 0;
   height: 0;
   border-top: 45px solid transparent; /* Adjust size as needed */
   border-bottom: 45px solid transparent; /* Adjust size as needed */
   border-left: 45px solid #FFF; /* Adjust size and color as needed */
   position: relative;
   left: 6.6rem; /* Adjust position as needed */
   top: -20px; /* Adjust position as needed */

}

#welcome{
 position: relative;
 bottom: 1rem;
}
@media screen and (max-width: 1142px) {
   .arrow-right{
      left: 4.9rem;
   }
}
@media screen and (max-width: 1069px) {
.arrow-right{
   left: 4.4rem;
}
}
  @media screen and (max-width: 1089px) {
   .imp-date{
      font-size: 15px;
      font-weight: 700;
   }
  }
  @media screen and (max-width: 1089px) {
   .imp-date{
      font-size: 15px;
      margin-left: 10px;
      font-weight: 700;
   }
  }
  @media screen and (max-width: 809px) {
   .triangle{
      width: 200px;
   }
   .imp-date{
      font-size: 15px;
      margin-left: 10px;
      font-weight: 700;
   }
  }

 .marquee {
   white-space: nowrap;
   overflow: hidden;
   display: inline-block;
   animation: marquee 20s linear infinite;
 }

 .marquee p {
   display: inline-block;
   color: #fff;
 }

 @keyframes marquee {
   0% {
     transform: translate3d(0, 0, 0);
   }
   100% {
     transform: translate3d(-50%, 0, 0);
   }
 }

.btn-collapse{
    background-color: #e7e2e7;
    display:none;
    position: relative;
    z-index: 8000;
 }
 .btn-collapse ul{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    align-items: center;
 }
 .btn-collapse ul li{
    list-style: none;
    color: white;
 }
 .btn-collapse ul li a{
    color: black;
    font-size: 18px;
 }


 .min-clg-logo{
   display: none;
 }
.desc{
   display: flex;
   flex-direction: column;
}


 .new-header{
   width: 100%;
 }

 .top-header{
    height: 50px;
    background-color: #4683a3;
    overflow-x: hidden;
 }
 .btn-toggle{display: none;}

 .btn-toggle span{
   height: 2px;
   width:20px;
   background-color: #000000;
   margin-top: 4px;
 }

 .clg-logo{
    width: 100vw;
    height: 95px;
    display: flex;
    background-color: #fff;
    position: relative;
    align-items: center;
   justify-content: space-between;
    z-index: 9000;
 }

/* College logo top */


 .clg-left{

   width: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
font-size: 60px;
font-weight: 500;

 }
 .only-img{
   display: none;
 }
 .only-img img{
   width: 220px;

 }
 .clg-right{

   width: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size:16px;
   font-weight: 800;
   padding-right:20px;
   padding-left: 45px;
   z-index: 5000;
 }
 .clg-logo img{
    width: 110PX;
    height: 110PX;
    /* position: relative;
    right: 32px;
    top: 23px; */
    position: relative;
    top: 30px;
    z-index: 3000;
 }
 .collap{
    width: 100vw;
 }
 #left_oval{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   position: absolute;
   gap: 30px;
 }
 #commit_padding{
   padding-right: 100px;
 }
 #reg_padding{
   padding-left: 190px;
 }

 @media screen and (max-width : 866px) {
   #reg_padding{
      padding-left: 150px;
   }
   #commit_padding{
      padding-right: 80px;
    }
 }
 #right_oval{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   position: absolute;
   gap: 30px;
   right: 10%;

 }
 .collap ul{
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    z-index: 2000;
    gap: 30px;
    position: relative;
    top:-3px;
    border-bottom: 2px solid #c2c7c9;
    background-color: #3a789a;

 }

 .collap ul li{
    list-style: none;
 }

 .collap ul li a{
    color: rgb(243, 237, 237);
    font-size: 20px;
    position: relative;
    top: 10px;


 }
 .collap ul li a:hover{
text-decoration: underline;
 }
 .collap ul li img{
    width: 220px;
 }
 .welcome{
   position: relative;
    color: #FFF;
    font-size: 45px;
    top: 130px;
    left:0%;
    width: 100%;
    text-align: center;
 }
 @media screen and (max-width: 560px) {
   .welcome{
       font-size: 35px;

    }
 }
 @media screen and (max-width: 425px) {
   .welcome{
       font-size: 30px;

    }
 }
 @media screen and (max-width: 350px) {
   .welcome{
       font-size: 24px;

    }
 }
 @media screen and (max-width: 1281px) {
    .clg-right{
       font-size: 14px;
      }

   }
   @media screen and (max-width: 1149px) {
     .clg-right{
        font-size: 13px;
     }

   }
   @media screen and (max-width: 1071px) {
      .clg-right{
         font-size: 15px;
         padding-right: 5px;
         padding-left: 30px;
      }

    }
    @media screen and (max-width: 973px) {
      .clg-right{
         font-size: 12px;
         padding-right: 5px;
         padding-left: 30px;
      }

    }
 @media screen and (max-width: 1018px) {
   /* .collap ul{
         padding-left: 80px;
   } */
   .collap ul li a{
          font-size: 17px;
   }
 }
 @media screen and (max-width: 924px) {
   .collap ul{
      /* padding-left: 78px; */
      gap: 15px;
}
.collap ul li a{
       font-size: 15px;
}

 }
 @media screen and (max-width: 788px) {
   .wrapper {
      max-width: 95%;
    }
    .btn-toggle{
       display: flex;
       flex-direction: column;
       height: 27px;
       float: right;
       margin-top: 10px;
       margin-right: 10px;
    }
    .collap{
       display: none;
    }
    /* .clg-right{
      width: 44%;
    } */
    .clg-logo img{
       width: 80px;
       height: 80px;
       top: 4px;
       /* left: 5px; */
    }

    .only-img{
      display: flex;
      justify-content: center;
      background-color: #4683a3;
      position: relative;
      top: -2px;
      height: 32px;
      z-index: 2000;
    }

    .clg-logo img{
      width: 110px;
      height: 110px;
      position: relative;
      top: 30px;
      z-index: 3000;
   }

  }

  @media screen and (min-width: 788px) {
 .btn-collapse{
    display: none;
 }
 .btn-collapse ul{
    display: none;
 }
 .li-extra{
    height: 60px;
    background-color: #FFF;
  }
  }
  @media screen and (max-width: 641px){

   .clg-right{
      font-size: 11px;
      padding-left: 25px;
      font-weight: 600;

   }

  }
  @media screen and (max-width: 453px){

   .only-img{
      display: none;
   }

   .clg-logo{
      display: none;
   }
   .min-clg-logo{
      background-color: #fff;
      display:flex;
      padding-left: 8px;
    }

   .min-clg-left{
      text-align: center;
      height: 42px;
      font-size: 30px;
      font-weight: 600;
      padding-top: 5px;
   }
   .min-clg-right{
      width: 90%;
      margin-left: 5%;
   }
   .min-clg-logo img{
       width: 80px;
       height: 80px;
       margin: auto;
  }
}

@media screen and (max-width: 1100px) {
.clg-left{
  font-size: 60px;
}
}
@media screen and (max-width: 985px) {
   .clg-left{
     font-size: 50px;
     font-weight: 500;
   }
   }

   @media screen and (max-width: 830px) {
      .clg-left{
        font-size: 40px;
        font-weight: 600;
      }
      }
      @media screen and (max-width: 678px) {
         .clg-left{
           font-size: 35px;
           font-weight: 700;
         }
         }
         @media screen and (max-width: 590px) {
            .clg-left{
              font-size: 30px;
              font-weight: 700;
            }
            }

            @media screen and (max-width: 534px) {
               .clg-left{
                 font-size: 26px;
                 font-weight: 700;
               }
               .min-clg-left{
                  font-size: 24px;
               }
               }

